@model Hht.SampleInspection.Models.ValveTestResult

<style type="text/css">
    .pass {
        background-color: palegreen;
    }
    .fail {
        background-color: lightpink;
    }
</style>
@{
    ViewBag.Title = "Validate";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ValveTestResult</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PartReceivedId)

        <div class="form-group">
            @Html.LabelFor(model => model.Step03TestResultId, "Result3 - Visual Insp, damaged screws/debris", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Step03TestResultId", null, htmlAttributes: new { @class = "form-control " + Model.PassFail03.PassFail03Desc })
                @Html.ValidationMessageFor(model => model.Step03TestResultId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step04TestResultId, "Result4 - Drop/Impact datage check", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Step04TestResultId", null, htmlAttributes: new { @class = "form-control " + Model.PassFail04.PassFail04Desc })
                @Html.ValidationMessageFor(model => model.Step04TestResultId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step05mH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step05mH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step05mH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step06mH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step06mH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step06mH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step13TestResultId, "Result13 - Gas leaks at valve and pilot", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Step13TestResultId", null, htmlAttributes: new { @class = "form-control " + Model.PassFail13.PassFail13Desc })
                @Html.ValidationMessageFor(model => model.Step13TestResultId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step10High, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step10High, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step10High, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step10Low, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step10Low, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step10Low, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step11TestResultId, "Result11 - Flame Height Adjustment Works", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Step11TestResultId", null, htmlAttributes: new { @class = "form-control " + Model.PassFail11.PassFail11Desc })
                @Html.ValidationMessageFor(model => model.Step11TestResultId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step08TestResultId, "Result08 - Flame goes out on burner and pilot", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Step08TestResultId", null, htmlAttributes: new { @class = "form-control " + Model.PassFail08.PassFail08Desc })
                @Html.ValidationMessageFor(model => model.Step08TestResultId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Validate" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*2016-03-10 LCJ Replace link to redirect to PartReceiveds details instead of listing ValveTestResults details*@
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Back to PartReceived", "Edit", "PartsReceived", new { id = Model.PartReceivedId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
