@model Hht.SampleInspection.Models.PartReceived

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PartReceived</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartReceivedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartReceivedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectorNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectorNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectorNum2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectorNum2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndividualPartComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualPartComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedTagNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedTagNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auditor.AuditorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auditor.AuditorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionType.InspectionTypeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionType.InspectionTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Part.PartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.PartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasTested.WasTestedDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasTested.WasTestedDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.VendorDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.VendorDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhereFound.WhereFoundDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhereFound.WhereFoundDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValveTestResult.PartReceivedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValveTestResult.PartReceivedId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartReceivedId }) |
    @Html.ActionLink("Back to List", "Index") |
    @*2016-03-10 LCJ Added link to redirect to ValveResults details if PartReceived part category is Valve*@
    @{ if (Model.WasTested.WasTestedDesc == "Yes")
        {
            if (Model.Part.PartCategory.PartCategoryDesc == "Valve")
            {
            @Html.ActionLink("ValveTestResults", "Details", "ValveTestResults", new { id = Model.PartReceivedId }, null)
                }
            }
        }
</p>
