@model IEnumerable<Hht.SampleInspection.Models.Auditor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuditorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuditorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuditorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuditorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuditorId })
        </td>
    </tr>
}

</table>
